#main_img{
  width: 100%;
background-image: url(../assets/images/img5.jpg);
background-position: center;
background-size: cover;
object-fit: contain;
}

div {
    font-family: "Poppins", sans-serif;
  }

  #mainBTN{
    transition: ease-in-out;
  }

  #tesimonials{
    background-color: linear-gradient(white, rgba(0, 0, 0, 0.26));
  }

  #AboutImg{
    background-image: url(../assets/images/img13.avif); 
  }


